@import '~normalize.css'; /* bring in normalize.css styles */

/* @import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css'; */

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: ivory;
  /* background-image: url('./images/pexels-negative-space-33999-min.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vw;
  color: black;
}

ul {
  text-decoration: none;
}
